/* CSS Rules for the Dado Tea Lunch Special Form */
* {
  box-sizing: border-box;
}

body {
  background-color: white;
  font-size: 1.5em;
}

h1,
legend {
  color: orange;
  font-weight: bold;
}

fieldset {
  border: 4px solid green;
  margin-bottom: 10px;
}

legend {
  font-size: 1.5rem;
}

.form {
  width: 50%;
  margin-left: 25%;
  padding: 10px 100px;
  border: 2px solid black;
  text-align: left;
  align-content: center;
}

.bold {
  font-weight: bold;
}

#btn {
  width: 160px;
  height: 50px;
  background-color: orange;
  color: white;
  float: right;
  font-size: 1.5rem;
  font-weight: bold;
  border: 4px solid green;
}
